*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

h1{
    font-size: 4.5em;
    margin-left: 1%;
    font-weight: normal;
}

header{
    height: 50vh;
    background-image:url("../assets/images/design1_image1.jpg"); 
    background-size: cover;
    background-repeat:no-repeat;
    background-position-y:10%;
}

header>figure{
    position: absolute;
    left: 75%;
    top: 42%;
}

h2{
    background-color: black;
    color: white;    
    padding: 0.5% 0px;
    text-align: center;
    margin-top: 0.3%;
    margin-bottom: 3.4%;
}

nav{
    margin-left: 3%;
    display: inline-block;
    position: absolute;
    top:65%
}

 nav a{
    display: block;
    margin-bottom: 70%;
    color:blue;
}

.seleccionado{
    color: black;
    text-decoration: none;
}
.contenido-main{
    width: 65%;
    position: relative;
    left: 20%;
}

article{
    margin-bottom: 4%;
}
article p {
    text-indent: 1.5em;
}

.evento>p{
    font-size: larger;
}

section p {
    margin-bottom: 2%;
}